<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= h1 %></p>

    <p><a href="/stu">user list</a></p>
    <p><a href="/input">input information</a></p>
  </body>
</html>
