<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form class="form" action="/submit" method="post">
        <input type="text"placeholder="username", name="username">
        <input type="text"placeholder="age", name="age">
        <input type="text"placeholder="tel", name="tel">
        <input type="text"placeholder="email", name="email">
        <button type="submit" name="button">Submit</button>

    </form>
  </body>
</html>
