<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EJS Demo</title>
</head>
<body>
  <div>
    <% include ./header %>
  </div>
<form class="aaa" action="/about" method="post">
    <input type="text" name="name" value="">
    <button type="submit" name="button">button</button>
</form>
  <div>
    <% include ./footer %>
  </div>

</body>
</html>
