<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EJS Demo</title>
</head>
<body>
  <div>
    <% include ./header %>
  </div>

  <div>
    <% include ./footer %>
  </div>

</body>
</html>
